 .animationButton {
    transition: 0.4s;
}

.animationButton:hover 
{
    background: rgb(115, 164, 139) url(../img/pixel3.png);
    transition-delay: 0.5s;
    animation: animate 0.5s steps(8) forwards;
    background-size: 50%; 
    box-shadow: 0 0 10px 0 rgb(115, 164, 139) inset, 0 0 10px 4px rgb(115, 164, 139);
    width: 50vh;
}

.linkStyle:hover {
    color: black;
}

@keyframes animate 
{
    0% { background-position-y: 0;}
    100% {background-position-y: -480px;}
} 


