  /* GAME PAGE*/
  .mainView{
    height: 40vh;
    font-size : 1.3rem;
    display: flex;
    justify-content: space-around;
}

.player, .bot{
  width: auto;
  justify-content: center;
}

.stock{
  max-width: 30vh;
  position: fixed;
  top : 15vh;
  left : 0;
}




.shuttlePlayer{
  transform: none;
}

.shuttleBot{
  transform: rotate(-180deg);
}

.lifeBar{
  width: 5vh;
}

.heart{
  box-sizing: border-box;
}

.historicContainer{
  width: 40%;
  height: 30%;
  margin: 3rem auto;
  float: right;
}

.playerInput{
  margin-top : 3rem;
}

.inputGame{
  padding : 1rem;
}

.inputMissiles{
  margin-left : 2rem;
  width:20%;
}

.fireButton{
  width: 20%;
}
}