@media screen and (min-width: 500px){

  /* HOME PAGE */
  .imgHome{
      height: 100%;
  }

  .separator{
      visibility: hidden;
      margin-top : -50%;
  }

  .buttonContainer{
    width: 40%;
    height: 50%;
    position: fixed;
    top : 40%;
  }

  .button{
      height: 10%;
      padding-top : .5rem;
  }

  /* GAME PAGE*/
  .mainView{
    height: 40vh;
    font-size : 1.3rem;
    display: flex;
    justify-content: space-around;
}

.player, .bot{
  width: auto;
  justify-content: center;
}

.stock{
  max-width: 30vh;
  position: fixed;
  top : 15vh;
  left : 0;
}

.stockBot{
  left: auto;
  right : 0;
}

.shuttleGame{
  width : 15vh;
}

.shuttleHeartContainer{
  margin-top : 7vh;
}

  .botContainer{
      margin-top : 18%;
  }

  .shuttlePlayer{
      transform: none;
  }
    
  .shuttleBot{
      transform: rotate(-180deg);
  }

  .heart{
    box-sizing: border-box;
  }
  
  .lifeBar{
    width: 5vh;
  }

  .historicContainer{
    width: 40%;
    height: 30%;
    margin: 3rem auto;
    float: right;
  }

  .playerInput{
    margin-top : 3rem;
  }

  .inputGame{
    padding : 1rem 3rem;
  }
  
  .inputMissiles{
    margin-left : 2rem;
    width:20%;
  }
  
  .fireButton{
    width: 20%;
  }

  .shuttle{
      width: 4.5%;
      height: auto;
  }

/*RULES PAGE ------------------------------*/
@keyframes titleUp {
  from {
    top : 33%;
  }
  to {
    top : 0%;
  }
}

.fight{
  width: 15%;
}


/*CREDITS PAGE ------------------------------*/
  .horizontalSlider {
    display: flex;
    overflow-x:auto;
  }

  .sliderContainer {
    display: flex;
  }

  /*VICTORY DEFEAT-------------------------------------------------------------------------------------------------------------*/
  .victoryContainer{
    position: static;
    margin: auto;
  }
}