@media screen and (min-width: 500px){
    .shuttle{
        width: 4.5%;
        height: auto;
    }

    /* HOME PAGE */
    .imgHome{
        height: 100%;
    }

    .separator{
        visibility: hidden;
        margin-top : -50%;
      }

     .buttonContainer{
        width: 40%;
        height: 50%;
        margin-top : -50vh;
    }

    .button{
        height: 10%;
        padding-top : .5rem;
    }

    /* GAME PAGE*/
    .mainView{
        height: 50%;
        font-size : 1.3rem;
        display: flex;
    }

    .shuttleHeartContainer{
        justify-content: center;
    }

    .botContainer{
        margin-top : 18%;
    }

      
    .shuttlePlayer{
        transform: none;
    }
      
    .shuttleBot{
        transform: rotate(-180deg);
    }

      .lifeBar{
        width: 6%;
      }

      .historicContainer{
        width: 40%;
        height: 30%;
        margin: 3rem auto;
        float: right;
      }

      .playerInput{
        margin-top : 3rem;
      }

      .inputGame{
        padding : 1rem 3rem;
      }
      
      .inputMissiles{
        margin-left : 2rem;
        width:20%;
      }
      
      .fireButton{
        width: 20%;
      }
}