@media screen and (min-width: 500px){
  /* HOME PAGE */
  .imgHome{
      height: 100%;
  }

  .separator{
      visibility: hidden;
      margin-top : -50%;
  }

  .buttonContainer{
    width: 40%;
    height: 50%;
    margin-top : -50vh;
  }

  .button{
      height: 10%;
      padding-top : .5rem;
  }

  /* GAME PAGE*/
  .mainView{
      height: 40vh;
      font-size : 1.3rem;
      display: flex;
      justify-content: space-around;
  }
  
  .player, .bot{
    width: auto;
    justify-content: center;
  }

  .stock{
    max-width: 30vh;
    position: fixed;
    top : 15vh;
    left : 0;
  }
  
  .stockBot{
    left: auto;
    right : 0;
  }

  .shuttleHeartContainer{
    margin-top : 7vh;

  }
  
  .shuttleGame{
    width : 15vh;
  }
  
  .shuttlePlayer{
    transform: none;
  }
  
  .shuttleBot{
    transform: rotate(-180deg);
  }
  
  .lifeBar{
    width: 5vh;
  }
  
  .heart{
    box-sizing: border-box;
  }

  .historicContainer{
    width: 40%;
    height: 30%;
    margin: 3rem auto;
    float: right;
  }

  .playerInput{
    margin-top : 3rem;
  }

  .inputGame{
    padding : 1rem;
  }
  
  .inputMissiles{
    margin-left : 2rem;
    width:20%;
  }
  
  .fireButton{
    width: 20%;
  }
}