html,
body {
  height: 100%;
  font-size: 1em;
  background: url("img/night_sky.jpg") ;
  color: white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header,
footer {
  background-color: #865FB7;
  text-align: center;
}

header {
    height: 10%;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shuttle{
  width : 12%;
  height: 55%;
  background: url('/img/space-shuttle.png'); 
  background-size: cover;
}

.left{
  transform: rotate(180deg);
}

 /* main{
  text-align : center;
} */

.imgHome{
  width: 100%;
  height: 50%;
  background: url("img/shuttle.jpg");
  background-size: cover;
}

.separator{
  width: 100%;
  position: relative;
  top: -4%;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35%;
}

 button{
  width :50%; 
  height : 15%;
  font-size : 1.5rem;
  border-radius: 30%;
  background-color: #865FB7;
  color: white;
  border-right: 5px solid white;
  border-left: 5px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: 0px 10px 5px black; 
} 

.buttonClick{
  box-shadow: none;
}


footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS POUR LA CREDIT PAGE */


.creditsTitle {
  
  text-align: center;
  
}

.horizontalSlider {
  display:block;
  width: 100%;
  overflow-x: scroll;
}

.sliderContainer {
  display: block;
  white-space: nowrap;
}

.item {
  /*background-color: lightgray;*/ 
  width: 338px;
  height: 70vh;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  
}



.photo {
  border: solid 3px red;
  height: 50vh;
  
}

.description {
  border: solid 3px red;
  height: 15vh;
}

.memberName {
  text-align: center;
}

.returnButton {
  margin-top: 0.5rem;
  margin-left: 20rem;
  width: 35px;
  height: 35px;
  background-color:#865FB7 ;
  border-radius: 50%;
  border: solid 3px white;
}

.memberPhoto {
  height: 50vh;
  width: 88.5vw;
}




